In [204]:
import json
import csv
import pandas as pd

In [205]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [206]:
from sqlalchemy import Column, Integer, String, Float

In [207]:
import pymysql
pymysql.install_as_MySQLdb()
Base.metadata.drop_all(engine)

In [208]:
class Weather(Base):
    __tablename__ = 'weather'
    date = Column(String(10), primary_key=True)
    max_temp = Column(Integer)
    min_temp = Column(Integer)
    avg_temp = Column(String(6))
    precipitation = Column(String(6))
    snow_fall = Column(String(6))
    snow_depth = Column(String(6))

In [209]:
engine = create_engine('mysql://root:31Baconmania@localhost:3306/test')
conn = engine.connect()

In [210]:
Base.metadata.create_all(engine)

In [211]:
weather_pd = pd.read_csv("../Resources/Cleaned_Weather_Data.csv")
weather_pd.head()

,date,max_temp,min_temp,avg_temp,precipitation,snow_fall,snow_depth
0,2016-01-01,42,34,38.0,0.0,0.0,0.0
1,2016-01-02,40,32,36.0,0.0,0.0,0.0
2,2016-01-03,45,35,40.0,0.0,0.0,0.0
3,2016-01-04,36,14,25.0,0.0,0.0,0.0
4,2016-01-05,29,11,20.0,0.0,0.0,0.0

In [212]:
cols = weather_pd.columns.values
weather_pd = weather_pd.set_index('date')

In [213]:
weatherJSON = weather_pd.to_json(orient='index')
weatherJSON = json.loads(weatherJSON)
inds = weather_pd.index.values

In [214]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [215]:
for ind in inds:
    dateD = ind
    max_tempD = weatherJSON[ind]['max_temp']
    min_tempD = weatherJSON[ind]['min_temp']
    avg_tempD = weatherJSON[ind]['avg_temp']
    precipitationD =weatherJSON[ind]['precipitation']
    snow_fallD = weatherJSON[ind]['snow_fall']
    snow_depthD = weatherJSON[ind]['snow_depth']
    record = Weather(date = dateD, max_temp = max_tempD, min_temp = min_tempD, avg_temp = avg_tempD, precipitation = precipitationD, snow_fall = snow_fallD, snow_depth = snow_depthD)
    session.add(record)
    session.commit()

In [216]:
print(record)

<__main__.Weather object at 0x000000FB8930B3C8>